* {
	box-sizing: border-box;
}

input:focus {
	border: 3px solid rgba(230, 86, 0);
	outline: 0; /* removes the default blue border when focuses */
}

body {
	background: linear-gradient(to right, rgba(245, 202, 30), rgba(224, 79, 1));
	height: 100vh;
	margin: 0;
	/* Aligns the input field to the center of the page */
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	width: 530px;
	height: 80px;
	padding-left: 15px;
	font-size: large;
	border: 3px solid rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.25);
}

ul {
	max-height: 200px;
	overflow: auto;
	list-style-type: none;
	padding-left: 0;
	/* Align the ul element to be right below where the input field is. 'relative' would cause the input field to shift */
	position: absolute;
	/* Removes the gap between the 'dropdown' and the input field */
	margin-top: 0;
}

ul.has-suggestions {
	background: rgba(255, 255, 255, 0.5);
}

ul li {
	padding: 5px 10px;
	min-width: 530px;
}

ul li:hover {
	background: rgb(225, 90, 1);
}
